h1{
    font-family : serif;
    font-size : 200 pt;
}

body{
    background : rgb(250, 228, 179);
    color : Black;
}
a:hover{

    color: black;
    background: white;
}

.indent{
    margin-left: 10px;
}
.shift{
    margin-left: 300px;
}
.thin_border{
	border: 1px solid black;
}

